section {
  padding-left: 20px;
}
h2 {
  cursor: pointer;
}
h2:before {
  content: '▼';
}
section.minimized h2:before {
  content: '►';
}
section.minimized .bl-items-list {
  display: none;
}

ul.bl-items-list > li {
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 3px;
  padding-left: 20px;
  width: 900px;
  display: block;
  overflow: auto;
}
li.bl-item.active .bl-item-field {
  height: 50px;
}
li.bl-item .cancel, li.bl-item .update {
  display: none;
}
li.bl-item.active .cancel, li.bl-item.active .update {
  display: inline;
}
li.bl-item.active {
  width: 1160px;
}

li.bl-item.new {
  background-color: #ddf;
  border-color: #bbd;
}
li.bl-item.assigned {
  background-color: #fc9;
  border-color: #f96;
}
li.bl-item.processed {
  background-color: #cc6;
  border-color: #993;
}
li.bl-item.completed {
  background-color: #cfc;
  border-color: #9c9;
}
li.bl-item.closed {
  background-color: #36c;
  border-color: #039;
  display: none;
}
li.bl-item:hover {
  /* background-color: #ffc; */
  /* border-color: #fc6; */
  cursor: pointer;
}

li.bl-header {
  font-weight: bold;
}
.bl-item-field {
  padding: 2px 8px;
  height: 24px;
  min-width: 30px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
}
.bl-item-field.name {
  width: 250px;
}
.bl-item-field.desc {
  width: 500px;
}
.bl-item-field input, .bl-item-field textarea {
  width: 100%;
}

#template {
  display: none;
}
.priority {
  display: none;
}
.bl-item.active select {
  display: none;
}
