.clear {
  clear: both;
}
section {
  padding-left: 20px;
}
ul.bl-items-list > li {
  border: 1px solid transparent;
  border-radius: 5px;
  padding-left: 20px;
  width: 1160px;
  display: block;
  clear: both;
}
li.bl-item.active .bl-item-field {
  height: 50px;
}
li.bl-item .cancel, li.bl-item .update {
  display: none;
}
li.bl-item.active .cancel, li.bl-item.active .update {
  display: inline;
}
li.bl-item:hover {
  background-color: #ffc;
  border-color: #fc6;
}
li.bl-header {
  font-weight: bold;
}
.bl-item-field {
  padding: 2px 8px;
  height: 24px;
  min-width: 30px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
}
.bl-item-field.name {
  width: 250px;
}
.bl-item-field.desc {
  width: 500px;
}
.bl-item-field input, .bl-item-field textarea {
  width: 100%;
}

#template {
  display: none;
}
