<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Backlog</title>
  <link rel='stylesheet' href='static/main.css' type='text/css' charset='utf-8' />
</head>
<body>
  <h1>Backlog</h1>
    {% for type in types %}
      <section>
        <h2>{{ type }}</h2>
        <ul class='bl-items-list'>
          <li class='bl-header'>
            <div class='bl-item-field name'>Name</div>
            <div class='bl-item-field desc'>Description</div>
            <div class='bl-item-field priority'>Priority</div>
            <div class='clear'></div>
          </li>
          <li class='bl-new'><a href='/new?type={{ type }}'>New item</a></li>
        </ul>
      </section>
    {% endfor %}

    <ul id='template'>
      <li class='bl-item' data-id='${id}'>
        <div class='bl-item-field name'>${name}</div>
        <div class='bl-item-field desc'>${desc}</div>
        <div class='bl-item-field priority'>${priority}</div>
        <div class='bl-item-field cancel'><a href='#'>Cancel</a></div>
        <div class='bl-item-field update'><a href='#'>Update</a></div>
        <div class='bl-item-field close'><a href='#'>Close</a></div>
        <!-- <div class='bl-item-field remove'><a href='/admin/{{ item.key.id }}/remove'>Remove</a></div> -->
        <div class='clear'></div>
      </li>
    </ul>

  <script src='static/jquery.min.js'></script>
  <script src='static/jquery-ui.custom.min.js'></script>
  <script src='static/jquery.jsrepeater.js'></script>
  <script src='static/main.js'></script>
</body>
</html>
