<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Backlog</title>
  <link rel='stylesheet' href='static/main.css' type='text/css' charset='utf-8' />
</head>
<body>
  <h1>Backlog</h1>
    {% for type, items in itemsDict.items %}
      <section>
        <h2>{{ type }}</h2>
        <ul>
          <li class='bl-header'>
            <div class='bl-item-field name'>Name</div>
            <div class='bl-item-field desc'>Description</div>
            <div class='bl-item-field priority'>Priority</div>
            <div class='clear'></div>
          </li>
          {% for item in items %}
            <li class='bl-item'>
              <div class='bl-item-field name'><a href='/{{ item.key.id }}'>{{ item.name }}</a></div>
              <div class='bl-item-field desc'>{{ item.desc }}</div>
              <div class='bl-item-field priority'>{{ item.priority }}</div>
              <div class='bl-item-field cancel'><a href='#'>Cancel</a></div>
              <div class='bl-item-field update'><a href='/{{ item.key.id }}/edit'>Edit</a></div>
              <div class='bl-item-field close'><a href='/{{ item.key.id }}/close'>Close</a></div>
              <div class='clear'></div>
            </li>
          {% endfor %}
          <li class='bl-item'><a href='/new?type={{ type }}'>New item</a></li>
        </ul>
      </section>
    {% endfor %}

  <script src='static/jquery.min.js'></script>
  <script src='static/main.js'></script>
</body>
</html>
